<main>
  <p>This project is a seed project for creating a web app using Node and Express. It uses <a href="https://github.com/ericf/express-handlebars">express-handlebars</a> for templating.</p>

  <h2 id="requirements">Requirements</h2>

  <ul>
  <li>Node</li>
  <li>NPM</li>
  </ul>

  <h2 id="gettingstarted">Getting Started</h2>

  <p>For development, just run <code>gulp</code>. This starts the app, opens BrowserSync, and watches for changed files.</p>

  <p>For production, run <code>npm start</code>.</p>

  <h2 id="license">License</h2>

  <p>MIT License</p>

</main>
